@model CarHub_Web.Models.Dto.CountryDTO


<form asp-action="DeleteCountry">
    <br />
    <div class="container border p-3">
        <h4 class="text-primary">Delete Country</h4>
        <hr />

        <input hidden asp-for="Id" />
        <div class="row">
            <div class="col-2">
                <label asp-for="CountryName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CountryName" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="IsActive" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="IsActive" disabled class="form-control" />
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-primary form-control" />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexCountry" asp-controller="Country" class="btn-primary btn form-control ">Back to List</a>
            </div>
            
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

