@model CarHub_Web.Models.VM.HomeVM


<div class="row pb-3">
    @foreach (var car in Model.CarImagelist)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                        <img class="myImg" src="@car.ImageUrl" alt="@car.Car.Name" style="width:100%;max-width:300px">
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- Render the Image Modal Partial -->
<!-- The Modal -->
<div id="myModal" class="modal">



    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    @* <img class="modal-content" id="img01">*@
    <img id="img01" class="modal-content">



    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>





@section Scripts{
    <link rel="stylesheet" href="~/css/imgall.css" asp-append-version="true" />
    <script>
        // Get the modal and images
        var modal = document.getElementById("myModal");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");

        // Get all images with class "myImg"
        var images = document.getElementsByClassName("myImg");

        // Loop through images and add click event
        for (var i = 0; i < images.length; i++) {
            images[i].onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }
        }

        // Close the modal when clicking on the close button
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>


}