@model CarHub_Web.Models.VM.CarUpdateVM


<form asp-action="UpdateCar">
    <br />
    <div class="container border p-3">
        <h4 class="text-primary">Update Car</h4>
        <hr />
        <input hidden asp-for="Car.Id" />
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Car.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Car.Name" class="form-control" />
                <span asp-validation-for="Car.Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Car.Details" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Car.Details" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Car.Details" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Car.BrandId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="Car.BrandId" class="form-select" asp-items="@Model.BrandList">
                    <option disabled selected>--Select Brand--</option>
                </select>
                <span asp-validation-for="Car.BrandId" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Car.CarTypeId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="Car.CarTypeId" class="form-select" asp-items="@Model.CarTypeList">
                    <option disabled selected>--Select CarType--</option>
                </select>
                <span asp-validation-for="Car.CarTypeId" class="text-danger"></span>
            </div>



            <div class="col-2">
                <label asp-for="Car.StartingPrice" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input type="number" asp-for="Car.StartingPrice" class="form-control" rows="5"></input>
                <span asp-validation-for="Car.StartingPrice" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Car.EndPrice" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input type="number" asp-for="Car.EndPrice" class="form-control" rows="5"></input>
                <span asp-validation-for="Car.EndPrice" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Car.ManufacturingYear" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input type="number" asp-for="Car.ManufacturingYear" class="form-control" rows="5"></input>
                <span asp-validation-for="Car.ManufacturingYear" class="text-danger"></span>
            </div>
            @*  <div class="col-2">
            <label asp-for="Car.ImageURL" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
            <input asp-for="Car.ImageURL" class="form-control" rows="5"></input>
            <span asp-validation-for="Car.ImageURL" class="text-danger"></span>
            </div>*@

            <div class="col-2">
                <label asp-for="Car.IsActive" ></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Car.IsActive" type="checkbox" value="true" checked />
            </div>
            <div class="col-5 offset-2">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>

            <div class="col-5 ">
                <a asp-action="IndexCar" asp-controller="Car" class="btn-primary btn form-control ">Back to List</a>
            </div>
           

          @*  <div class="col-2">
                @if (Model.Car.CarImages != null)
                {
                    foreach (var image in Model.Car.CarImages)
                    {
                        <div class="border p-1 m-2 text-center">
                            <img src="@image.ImageUrl" width="100%"
                                 style="border-radius:5px; border:1px solid #bbb9b9" />
                            <a asp-action="DeleteImage" class="btn btn-danger" asp-route-imageId="@image.Id">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    }
                }
            </div>*@

        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

