@model CarHub_Web.Models.Dto.ColorDTO
<form asp-action="DeleteColor">
    <br />
    <div class="container border p-3">
        <h4 class="text-primary">Delete Color</h4>
        <hr />

        <input hidden asp-for="Id" />
        <div class="row">
            <div class="col-2">
                <label asp-for="ColorName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ColorName" disabled class="form-control" />
            </div>

            
            <div class="col-5 offset-2">
                <input type="submit" value="Delete" class="btn btn-primary form-control" />
            </div>
            <div class="col-5 ">
                <a asp-action="IndexColor" asp-controller="Color" class="btn-primary btn form-control ">Back to List</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}